
.product{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 50px 100px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cart-container{
    background-color: goldenrod;
    padding: 0px 20px;
    margin: 0px 0px 0px 10px;
    height: 600px;
    border-radius: 5px;
    position: sticky;
    top: 0;

}
